{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/estilo1.css' %}">

{% block content %}

<div class="Texto_princial">
<h2> hola buenas en esta instancia le presentamos esta pagina , un saludo!</h2>

	

<p> Buenvenido a nuestra pagina canabica, estamos felices que estes aqui</p>
<p>Nuestra idea es que quien interesado pueda compartir sus plantas y proyectos</p>

<p>esta es la plantilla html</p>


</div>


<br>	
<div class="Contenedor">
	<img class="img" src="{% static 'image/Semilla.jpg' %}"  width="1100">
	
</div>

{% endblock %}

